/* Mastergrid, oppsett til artikkelsiden */
div#mastergrid
  {	  
      max-width: 1400px;
	  max-height: 100%;
      margin: 0 auto;
	
	  display: grid;
	  grid-example-columns: 200px 1fr 200px;
	  grid-example-rows: 200px auto auto 125px;
	  grid-template-areas:    "nav header margtop"
							"marg1 article marg2"
							"marg1 tabell marg2"
	     					"footer footer footer";
							
  }
  

/* Headeren */
#header
  {
	  grid-area: header;
	  
	  background-color: #225F6F;
	  text-align: center;
	  border: thin solid #116666;
	  border-radius: 24px;
	  width: 800px;
	  color: white;
	  font-family: verdana
  }

/* Navbaren */
#navbar
  {
	  grid-area: nav;
	  
	  max-width: 200px;
      background-color: white;
  }

  
/* Artikkel */
#artikkel
  {
	  grid-area: article;
	  
	  text-align: center;
	  width: 800px;
	  max-width: 800px;
	  height: 325px;
	  max-height: 325px;
  }
  
#artikkel p
  {
	  font-size: 12px;
	  padding: 4px 15px;
  }
  
#artikkel h2
  {
	  font-family: verdana
  }
  
  
/* Bilde i margen */
img
  {
	  grid-area: marg2;
	  
	  max-width: 200px;
	  width: 200px;
	  max-height: 150px;
	  height: 150px;
	  margin: 0px -70px 0px -70px;
  }
  
#mathpic
  {
	  grid-area: marg2;
	  
	  max-width: 200px;
	  width: 200px;
	  max-height: 250px;
	  height: 250px;
	  margin: 0px -70px 0px -70px;
  } 
 
table
  {
	  grid-area: tabell;
	  position: sticky;
  }
  
table, th, tr, td
  {
	  border: thin solid black;
	  width: 800px;
	  max-width: 800px;
	  text-align: center;
  }
  

/* Footer meny */
footer
  {
	  grid-area: footer;
	  
	  background-color: #883344;
	  color: white;
	  border: 1.5px solid black;
	  height: 45px;
	  border-radius: 8px;
	  width: 925px;
	  height: 40px;
	  margin: auto;
  }
  
footer #henrik
  {
	  font-size: 11px;
	  font-family: calibri;
	  font-style: italic;
	  float: left;
	  padding-left: 26px;
  }
  
footer #email
  {
	  font-size: 11px;
	  font-family: calibri;
	  font-style: italic;
	  float: left;
	  padding-left: 26px;
  }  
  
footer #tlf
  {
	  font-size: 11px;
	  font-family: calibri;
	  font-style: italic;
	  float: left;
	  padding-left: 26px;
  }
  
/* Dropdown */
#navbar ul li
  {
	  list-style-type: none;
  }
  
li
  {
	  display: inline-block;
  }
  
li a
  {
	  text-decoration: none;
	  color: black;
  }
  
.dropdown-content
  {
	  display: none;
	  position: fixed;
  }
  
.dropdown-content a
  {
      display: block;
      text-align: center;
	  border: thin solid black;
	  z-index: 1;
  }
  
.dropdown:hover .dropdown-content
  {
	  display: block;
  }
  
.dropdown-content a:hover
  {
	  background-color: lightgrey;
  }
  

#navbar ul li i
  {
	  font-size: 32px;
  }